.header-container {
  background-color: #37474f !important;
  min-height: 50px !important;
  max-height: 50px !important;
  span {
    color: #FFFFFF;
  }

  .header-search {
    input {
      &:focus {
        outline: none;
      }

      color: #212121;
      border: 1px solid #BDBDBD;
      background-color: #CFD8DC;
      border-radius: 30px 0px 0px 30px;
      font-size: 15px;
      padding: 5px 15px;
      height: 32px;
      align-self: center;
    }

    .md-icon-button {
      border-radius: 0px 30px 30px 0px;
      background-color: #607D8B;
    }
  }

  .md-icon-button {

    margin: 0px;
    height: 32px;
    min-height: 32px;
    align-self: center;

    .glyphicon {
      align-self: center;
      color: #FFFFFF;
      font-size: 15px;
    }
  }
}
