<md-toolbar class="header-container" md-scroll-shrink md-whiteframe="6" ng-if="true">
    <div class="md-toolbar-tools" layout="row" layout-wrap>
      <span>Comgress</span>
      <div flex layout="row" layout-wrap>
        <div flex="75"></div>
        <form class="header-search" layout="row" flex>
          <input placeholder="Encuentra eventos" ng-model="vm.searchInput" flex>
          <md-button type="submit" ng-click="vm.searchEvents($event)" class="md-icon-button md-primary" layout="row" layout-align="center center">
            <i class="glyphicon glyphicon-search"></i>
          </md-button>
        </form>
        <md-button class="md-icon-button md-primary" layout="row" layout-align="center center">
          <i class="glyphicon glyphicon-bell"></i>
        </md-button>
      </div>
    </div>
</md-toolbar>
