.header-container {
  background-color: #37474f !important;
  min-height: 50px !important;
  max-height: 50px !important; }
  .header-container span {
    color: #FFFFFF; }
  .header-container .header-search input {
    color: #212121;
    border: 1px solid #BDBDBD;
    background-color: #CFD8DC;
    border-radius: 30px 0px 0px 30px;
    font-size: 15px;
    padding: 5px 15px;
    height: 32px;
    align-self: center; }
    .header-container .header-search input:focus {
      outline: none; }
  .header-container .header-search .md-icon-button {
    border-radius: 0px 30px 30px 0px;
    background-color: #607D8B; }
  .header-container .md-icon-button {
    margin: 0px;
    height: 32px;
    min-height: 32px;
    align-self: center; }
    .header-container .md-icon-button .glyphicon {
      align-self: center;
      color: #FFFFFF;
      font-size: 15px; }

.sidenav-container {
  width: 220px; }
  .sidenav-container .sidenav-user {
    padding: 20px;
    padding-bottom: 10px;
    background-color: #455A64 !important; }
    .sidenav-container .sidenav-user:hover {
      background-color: #607D8B !important; }
    .sidenav-container .sidenav-user .sidenav-username-text {
      font-size: 15px; }
    .sidenav-container .sidenav-user .sidenav-role-text {
      font-size: 10px;
      color: #CFD8DC; }
    .sidenav-container .sidenav-user .sidenav-avatar {
      height: 50px;
      width: 40px; }
    .sidenav-container .sidenav-user .sidenav-user-details {
      justify-content: space-between;
      margin-top: 5px; }
      .sidenav-container .sidenav-user .sidenav-user-details .glyphicon {
        align-self: center;
        font-size: 10px; }
  .sidenav-container .sidenav-options-list {
    background-color: #455A64;
    color: #FFFFFF;
    opacity: 0.9; }
    .sidenav-container .sidenav-options-list md-list-item {
      height: 10px;
      padding: 0px; }

.evento-card {
  min-height: 210px; }
  .evento-card:hover {
    cursor: pointer; }
  .evento-card .evento-card-data {
    margin-top: 10px; }
  .evento-card .evento-card-actions {
    padding-right: 10px;
    padding-left: 10px; }

.vista-evento {
  overflow-y: auto; }

.evento-img {
  background-color: #eceff1; }

.evento-botonera {
  display: flex; }

.nuevo-evento .row:not(:last-child) {
  margin-bottom: 10px; }

.evento-title {
  font-size: 30px; }

.evento-img-large {
  background-color: #eceff1;
  height: 100% !important;
  width: auto !important;
  margin-left: 10px !important; }

.login-container {
  background-color: #607D8B;
  padding: 80px;
  border-radius: 30px;
  color: #FFFFFF; }
  .login-container label {
    color: #CFD8DC; }

.view-container-full {
  background-color: #F8F8FF; }

.view-container {
  background-color: #F8F8FF;
  padding: 25px; }
  .view-container .view-title {
    font-size: 30px; }
  .view-container .view-content {
    overflow-y: auto; }

.no-padding {
  padding: 0px; }

.color-secondary {
  color: #FF5722; }

.bg-color-secondary {
  background-color: #FF5722 !important;
  color: #FFFFFF !important; }

.color-primary {
  color: #455A64; }

.bg-color-primary {
  background-color: #455A64 !important;
  color: #FFFFFF !important; }

.color-white {
  color: #FFFFFF; }

.button-icon {
  font-size: 20px; }

/*# sourceMappingURL=styles.css.map */