@import 'modules/layouts/header/_header.scss';
@import 'modules/layouts/side-nav/_side-nav.scss';
@import 'modules/views/explorar/_explorar.scss';
@import 'modules/views/evento/_evento.scss';

.view-container {
  background-color: #F8F8FF;
  padding: 25px;
  .view-title {
    font-size: 30px;
  }

  .view-content {
    overflow-y: auto;
  }
}

.no-padding {
  padding: 0px;
}

.color-primary {
  color: #FF5722;
}

.bg-color-primary {
  background-color: #FF5722 !important;
  color: #FFFFFF !important;
}

.color-secondary {
  color: #757575;
}
