.sidenav-container {
  width: 220px;
  .sidenav-user {
    &:hover {
      background-color: #607D8B !important;
    }
    padding: 20px;
    padding-bottom: 10px;
    background-color: #455A64 !important;
    .sidenav-username-text {
      font-size: 15px;
    }
    .sidenav-role-text {
      font-size: 10px;
      color: #CFD8DC;
    }
    .sidenav-avatar {
      height: 30px;
      width: 30px;
    }

    .sidenav-user-details {
      justify-content: space-between;
      margin-top: 5px;
      .glyphicon {
        align-self: center;
        font-size: 10px;
      }
    }
  }

  .sidenav-options-list {
    background-color: #455A64;
    color: #FFFFFF;
    opacity: 0.9;

    md-list-item {
      height: 10px;
      padding: 0px;
    }
  }
}
