<md-sidenav class="sidenav-container" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="8">
  <md-toolbar class="sidenav-user" layout="column">
    <div layout="row">
      <i class="sidenav-avatar glyphicon glyphicon-user"></i>
    </div>
    <div class="sidenav-user-details" layout="row">
      <div layout="column">
        <span class="sidenav-username-text">{{vm.user.name}}</span>
        <span class="sidenav-role-text">{{vm.user.role}}</span>
      </div>
      <i class="glyphicon glyphicon-chevron-right"></i>
    </div>
  </md-toolbar>
  <md-list flex layout-padding class="sidenav-options-list" ng-cloak>
    <md-list-item ng-click="doPrimaryAction($event)">
      <p>Inicio</p>
    </md-list-item>
    <md-list-item ui-sref="Explorar">
      <p>Explorar</p>
    </md-list-item>
    <md-list-item ui-sref="Mis eventos">
      <p>Mis eventos</p>
    </md-list-item>
  </md-list>
</md-sidenav>
