<md-sidenav class="sidenav-container" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
  <md-toolbar class="sidenav-user" layout="row">
    <div layout="column">
      <img class="sidenav-avatar" src="public/images/donkikon.png" />
      <div class="sidenav-user-details">
        <h1>Donki Kon</h1>
        <h2>Programmer</h2>
      </div>
    </div>
    <div layout="row">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
  </md-toolbar>
  <md-content class="sidenav-options-list" flex layout-padding>
  </md-content>
</md-sidenav>
