<section class="view-content" layout="row" layout-fill>
  <div layout="column" flex>
    <md-card ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3" md-whiteframe={{height}} class="evento-card" ng-if="$even" ng-repeat="evento in vm.eventos">
      <md-card-title ui-sref="Evento({ id: evento.id })" class="evento-card-title">
        <md-card-title-text>
          <span class="md-headline">{{evento.nombre}}</span>
          <span class="md-subhead">{{evento.tipo}}</span>
          <span style="color: rgb(109, 109, 243);"><b>{{evento.cupos}} cupos</b></span>
          <span><i>{{evento.lugar}}</i></span>
          <div class="evento-card-data" layout="column">
            <span>{{evento.descripcion}}</span>
          </div>
        </md-card-title-text>
        <md-card-title-media>
          <div class="evento-img md-media-md card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="evento-card-actions" layout="row" layout-align="space-between center">
        <div>
          <md-button class="color-secondary">Me interesa</md-button>
          <md-button ng-if="!evento.userJoined" class="md-raised bg-color-primary" ng-click="vm.userJoin(evento, true)">Unirse</md-button>
          <md-button ng-if="evento.userJoined" class="color-primary" ng-click="vm.userJoin(evento, false)">Deshacer</md-button>
        </div>
        <div ng-if="evento.userJoined">
          <span class="text-success"><i>¡Te has unido satisfactoriamente!</i></span>
        </div>
      </md-card-actions>
    </md-card>
  </div>
  <div layout="column" flex>
    <md-card ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3" md-whiteframe={{height}} class="evento-card" ng-if="$odd" ng-repeat="evento in vm.eventos">
      <md-card-title ui-sref="Evento({ id: evento.id })" class="evento-card-title">
        <md-card-title-text>
          <span class="md-headline">{{evento.nombre}}</span>
          <span class="md-subhead">{{evento.tipo}}</span>
          <div class="evento-card-data" layout="column">
            <span>{{evento.descripcion}}</span>
            <span style="color: rgb(109, 109, 243);"><b>{{evento.cupos}} cupos</b></span>
            <span><i>{{evento.lugar}}</i></span>
          </div>
        </md-card-title-text>
        <md-card-title-media>
          <div class="evento-img md-media-md card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions class="evento-card-actions" layout="row" layout-align="space-between center">
        <div>
          <md-button class="color-secondary">Me interesa</md-button>
          <md-button ng-if="!evento.userJoined" class="md-raised bg-color-primary" ng-click="vm.userJoin(evento, true)">Unirse</md-button>
          <md-button ng-if="evento.userJoined" class="color-primary" ng-click="vm.userJoin(evento, false)">Deshacer</md-button>
        </div>
        <div ng-if="evento.userJoined">
          <span class="text-success"><i>¡Te has unido satisfactoriamente!</i></span>
        </div>
      </md-card-actions>
    </md-card>
  </div>
</section>
